{% extends 'base_content.html' %}
{% block content %}
<div class="container pt-2 pb-2">
    <div class="row" style="height:60%;">

        <div class="col">
          <h1>Your clubs</h1>
          <div style="height:50%;width:90%;overflow:auto;">
            {% if clubsCount == 0 %}
              <p>No memberships found. &emsp13;<a href="{% url 'apply' %}" class="label link-primary pt-1">Apply for a membership now.</a></p>
            {% else %}
            <table class="table">
              {% for member in myclubs %}
                <tr>
                  <th><a href="{% url 'show_club' member.club_membership.id %}" class="label link-primary pt-1">{{ member.club_membership.name }}</a></th>
                  {% if member.user_type == 1 %}
                    <th>Owner</th>
                  {% elif member.user_type == 2 %}
                    <th>Officer</th>
                  {% elif member.user_type == 3 %}
                    <th>Member</th>
                  {% else %}
                    <th>Applicant</th>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
            {% endif %}
        </div>
      </div>

      <div class="col-xs-12 col-lg-6 col-xl-8" style="width:50%;height:750px;float:right">
      <h1>All clubs updates</h1>
        {% include 'partials/post_pager.html' with page_obj=page_obj%}
        {% include 'partials/posts_as_table.html' with posts=posts %}
        {% include 'partials/post_pager.html' with page_obj=page_obj%}
      </div>

    </div>
</div>

{% endblock %}
