{% extends 'base_content.html' %}
{% block content %}
<div class="container pt-2 pb-2">
  <div class="row">
    <div class="col-6">
      <h4>Choose your club</h4>
        {% if clubsCount == 0 %}
          <p>No memberships found. &emsp13;<a href="{% url 'apply' %}" class="label link-primary pt-1">Apply for a membership now.</a></p>
        {% else %}
        <table class="table">
          {% for member in members %}
            <tr>
              <th><a href="{% url 'show_club' member.club_membership.id %}" class="label link-primary pt-1">{{ member.club_membership.name }}</a></th>
              <th>{{ member.user_type }}</th>
            </tr>
          {% endfor %}
        </table>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
