{% extends 'base_content.html' %}
{% block content %}
  <div style="background-image: url('../../static/images/home.jpg');-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100% 100%;
  -o-background-size: cover;">
    <div class="container vh-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class = "card cover-card offset-sm-2 offset-md-4 offset-lg-7">
            <div class="card-body">
              <h1 class="cover-heading">Dingo Chess</h1>
              <p class="cover-text">Welcome to the world of chess</p>
              <form action="{% url 'log_in' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {% include 'partials/bootstrap_form.html' with form=form %}
                <div class="d-grid mt-3">
                  <div class="text-center gap-2">
                    <input type="submit" value="Log in" class="btn px-4 btn-primary btn-sm">
                  </div>
                  <a href="{% url 'sign_up' %}" class="label link-primary pt-1">Not a user yet? Sign up!</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}
