{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Officers</h1>
      <table class="table">
        {% for member in members %}
          <tr>
            <td>
              <img src="{{ member.current_user.mini_gravatar }}" alt="Gravatar of {{ member.current_user.username }}" class="rounded-circle" >
            </td>
            <td><a href="{% url 'show_user' user_id=member.current_user.id %}">{{ member.current_user.full_name }}</a></td>
            <td><a class="btn btn-primary" href="{% url 'promote_member' user_id=member.current_user.id club_id %}" role="button">Promote</a></td>
            <td><a class="btn btn-primary" href="{% url 'demote_officer' user_id=member.current_user.id club_id %}" role="button">Demote</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
