{% extends 'base_content.html' %}
{% block content %}
<div class="container pt-2 pb-2">
  <div class="row">
    <div class="col-12">
      <h1>Applicants</h1>
        {% if applicants_count == 0 %}
          <p>No pending applications found.</p>
        {% else %}
        <table class="table">
          {% for applicant in applicants %}
          <tr>
            <td>
              <img src="{{ applicant.current_user.mini_gravatar }}" alt="Gravatar of {{ applicant.current_user.username }}" class="rounded-circle" >
            </td>
            <td><a class="link-success" href="{% url 'show_applicant' user_id=applicant.current_user.id %}">{{ applicant.current_user.full_name }}</a></td>
            <td><a class="btn btn-primary" href="{% url 'accept_application' user_id=applicant.current_user.id club_id=club.id %}" role="button">Accept</a></td>
            <td><a class="btn btn-primary" href="{% url 'decline_application' user_id=applicant.current_user.id club_id=club.id %}" role="button">Decline</a></td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
