{% extends 'base_content.html' %}
{% block content %}
<div class="container pt-2 pb-2">
  <div class="row content">
    <div class="col-xs-12 col-lg-6 col-xl-4">
      {% include 'partials/club_profile.html' %}
      {% if user_type == 1 or user_type == 2 or user_type == 3 %}
        <a class="btn btn-outline-info" href="{% url 'club_members' club_id=club.id %} " role="button">Club members</a>     
        {% if user_type == 1 or user_type == 2 %}
          <a class="btn btn-outline-info" href="{% url 'manage_applicants' club_id=club.id %}" role="button">Manage applications</a>
        {% endif %}
        {% if user_type == 1 %}
          <a class="btn btn-outline-info" href="{% url 'manage_officers' club_id=club.id %}" role="button">Manage officers</a>
          <a class="btn btn-outline-info" href="{% url 'edit_club' club_id=club.id %}" role="button">Manage club</a>
          <a class="btn btn-outline-info" href="#" role="button">Post a message</a>        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
