{% extends 'base_content.html' %}
{% block content %}
<div class="container pt-2 pb-2">
  <div class="row content">
    <div class="col-xs-12 col-lg-6 col-xl-4">
      {% include 'partials/club_profile.html' %}
      {% if is_member %}
        <a class="btn btn-primary" href="{% url 'club_members' club_id=club.id %}" role="button">Club members</a>
      {% endif %}
      {% if can_manage_applicants %}
        <a class="btn btn-primary" href="{% url 'manage_applicants' club_id=club.id %}" role="button">Manage applications</a>
      {% endif %}
      {% if is_owner %}
        <a class="btn btn-primary" href="{% url 'manage_officers' club_id=club.id %}" role="button">Manage officers</a>
        <a class="btn btn-primary" href="{% url 'edit_club' club_id=club.id %}" role="button">Manage club</a>
        <a class="btn btn-primary" href="{% url 'post_messages' club_id=club.id %}" role="button">Post a message</a>
      {% endif %}
    </div>
  {% if is_member %}
    <div class="col-xs-12 col-lg-6 col-xl-8">
      <h1>Notice</h1>
      {% include 'partials/posts_as_table.html' with posts=posts %}
    </div>
  {% endif %}
</div>
{% endblock %}
