<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="#">All members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Club members</a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'show_user' user.id %}">
        <span class="bi bi-person-circle"></span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="bi bi-list"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Update profile</a></li>
        <li><a class="dropdown-item" href="#">Change password</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'create_club' %}">Create club</a></li>
        <li><a class="dropdown-item" href="{% url 'apply'%}">Apply to club</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Manage applications</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Manage club</a></li>
        <li><a class="dropdown-item" href="#">Post a message</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
     </ul>
    </li>
  </ul>
</div>
